<%= form_with(model: @task, local: true ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>Something wrong</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="task_title">
    <%= form.label :Task_name %>
    <%= form.text_field :task_name %>
  </div>
  <div class="task_title">
    <%= form.label :Description %>
    <%= form.text_field :description %>
  </div>
  <div class="task_title">
    <%= form.label :Priotity %>
    <%= form.text_field :priority %>
  </div>
  <div class="task_title">
    <%= form.label :Status %>
    <%= form.text_field :status %>
  </div>
  <div class="task_title">
    <%= form.label :Deadline %>
    <%= form.date_select :deadline %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "Back to the task list", tasks_path %>